
@font-face {
  font-family: "bird" ;
  src: url("./assets/font/Birds of Paradise.ttf");
}
:root{
  --primary-color: #C0FFC8;
  --secuday-color: #0B0B0B;
}
*{
  margin: 0;
  padding: 0;
}
#entrada{
  width: 100%;
  height: 200dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #42445A;
  z-index: 999;
  top: -50%;
  overflow: hidden;
}
#entrada button{
  padding: 20px;
border: 2px solid #C0FFC8;
border-radius: 10px;
background-color: var(--secuday-color);
/* fundo escuro destaca o neon */
color: #C0FFC8;
font-family: sans-serif;
text-align: center;
width: 200px;
margin: 50px auto;
font-weight: bold;
/* Efeito neon */
box-shadow: 0 0 5px #C0FFC8,
0 0 10px #C0FFC8,
0 0 20px #C0FFC8,
0 0 40px #C0FFC8;
  
}
#entrada button:active{
  box-shadow: 0 0 5px #6BFF85,
    0 0 10px #6BFF85,
    0 0 20px #6BFF85,
    0 0 40px #6BFF85;
  color: #6BFF85;
  border-color: #6BFF85;
}
  

#tela{
  width: 100%;
  background: linear-gradient(to bottom, var(--secuday-color) , var(--primary-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 99%;
    height: auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10%;
    
}
#tela .player{
    width: 80%;
    max-width: 400px;
    height: 100px;
    display: flex;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 15px;
    align-items: center;
}
.player #album{
    width: 80px;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    aspect-ratio: 1/1;
    
}
.content .info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  font-weight: bold;
  color: var(--secuday-color);
  font-size: 16px;
  margin: 0 auto;
}
.player .info p:nth-child(2){
  font-size: 12px;
}
.info .player-control{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  gap: 15px;
}
.info .player-control i{
  cursor: pointer;
}
#tela #photo{
    width: 80%;
    max-width: 400px;
    border-radius: 25px;
    object-fit: cover ;
    aspect-ratio: 9/16;
}
.msgs{
  width: 85%;
  padding: 20px;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  transform: rotate(45deg);
  animation: fall 4s linear infinite;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: -10px;
  top: 0;
}
#tempo{
  font-family: bird;
  font-size: 25px;
  --font-weight: ;
  margin-left: 5%;
  margin-bottom: 1rem;
}
.num{
  font-family: serif;
  font-size: 20px;
}
.icon{
  
  animation: pulse 1800ms linear infinite;
  transform: .2s;
}

@keyframes fall {
  to {
    transform: translateY(140vh) rotate(45deg);
    opacity: 0;
  }

}
@keyframes pulse {
  0%{
    font-size: 20px;
  }
  25%{
    font-size: 15px;
  }
  35%{
    font-size: 20px;
    
  }
  45% {
  font-size: 15px;
}
100% {
  font-size: 20px;
}
}


